################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Carubbi.Sudoku/DesignTimeBuild
/.vs/Carubbi.Sudoku/v15/Server/sqlite3
/.vs
/Carubbi.Sudoku.UI/sudoku.txt2
